<nav class="navbar navbar-inverse" role="navigation">
<div class="container">

<div class="navbar-header">
<button type="button" class="navbar-toggle
collapsed" data- 6
 toggle="collapse" data-target="#bs-examplenavbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>

<div class="collapse navbar-collapse" id="bsexample-navbar-collapse-1">

<% if user_signed_in? %>
	<button type="button" class="btn btn-default navbar-btn"><%= link_to 'Edit profile', edit_user_registration_path %></button>
<% else %>
	<button type="button" class="btn btn-default navbar-btn"><%= link_to 'Join', new_user_registration_path %></button>
	<button type="button" class="btn btn-default navbar-btn"><%= link_to 'Log in', new_user_session_path %></button>
<% end %>

</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<div class="jumbotron">
	<h1>Witaj w mojej aplikacji</h1>
	<p> Za jakiś czas będzie można się zarejstrować i uzyskać dostęp do rzeczy które się fizjologom nie śniły</p>
	<%= link_to 'About', home_about_path, class: 'btn
btn-default' %>
	<%= link_to 'Home', root_path, class: 'btn
btn-danger' %>

</div>
